@model LARC.Models.ClientDB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientDB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountDB.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountDB.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortfolioDB.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortfolioDB.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
