@model IEnumerable<LARC.Models.ClientDB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountDB.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortfolioDB.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountDB.LastName)
        </td>
        <td>
            @Html.ActionLink(item.PortfolioDB.Name, "Index", "Client", new { id = item.PortfolioID }, null)
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
