@model LARC.Models.Portfolio

@{
  ViewBag.Title = "Portfolio";
}

@section Includes {
  <link href="~/Content/Portfolio.css"
        rel="stylesheet"
        type="text/css" />
}

@{
  if (!Model.Equals(null))
  {

    <ul class="nav nav-pills larc-theme">
      <li>@Html.ActionLink("Home", "Index", "Home")</li>
      <li><a href="#">Logoff</a></li>
    </ul>

    <h2>Portfolio Analysis Control Panel</h2>

    // Navbar
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <h4>Actions</h4>
        <ul class="nav navbar-nav larc-theme" id="functions">
          <li class="page-option">@Html.ActionLink("Create New", "Create", "Portfolio")</li>
          <li class="page-option">@Html.ActionLink("Edit", "Edit", "Portfolio", new { id = @Model})</li>
          <li class="page-option">@Html.ActionLink("Delete", "Delete", "Portfolio")</li>
        </ul>
        <h4>Displays</h4>
        <ul class="nav navbar-nav larc-theme" id="displays">
          <li class="page-option"><a href="#">Overlap Plot</a></li>
        </ul>
</div>
    </div>

    // Table to list a portfolio
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-xs-12">
          <table class="table table-striped table-bordered">
            <caption>
              Portfolio Holdings for the Portfolio @Model.Name
            </caption>
            <thead>
              <tr>
                <th>Symbol</th>
                <th>Shares</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var h in Model.PortfolioList)
              {
                <tr>
                  <td>
                    @Html.ActionLink(h.Symbol, "Details", "Fund",
                      new { id = h.Symbol},
                      new { data_toggle = "tooltip", title = h.Name,
                        data_placement = "left" })
                </td>
                <td>@h.NumberOfShares</td>

              </tr>
              }
            </tbody>
          </table>
        </div>
    </div>
  </div>

  }
}
@section localScripts {
  <script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip()
      });
</script>
}