<!DOCTYPE html>
<!--
Purpose:

Designer: N. S. Clerman,
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LARC | Lam-Ed Asset Research Consulting - @ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|
          Roboto:400,400i,500,500i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Marcellus+SC"
          rel="stylesheet">

    <!-- Bootstrap links-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Includes", required: false)

</head>
<body>
    <!-- LARC Banner -->
        <div class="larc-theme larc-head">
            <div>
                <span id="larc-abbr"><strong>AARC</strong></span>
                <span id="larc-name">Aviv Asset Research Consulting</span>
            </div>
        </div>
        @RenderBody()
        <!-- JQuery script-->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("localScripts", required: false)
</body>
</html>

